/*----------import module----------*/
@import "../../../../_sass/bourbon/bourbon";
@import "../../../../_sass/normalize/normalize";
@import "../../../../_sass/public/public";

/*----------my style----------*/
body {
    background: #1b1a18;
    color: #fff;
}

.land-img {
    width: 100%;
    img {
        display: block;
        width: 100%;
    }
}

/*footer*/
footer {
    padding: rem(20) 0;
    background: #000000;
    width: 100%;
    color: #626262;
    font-size: 1rem;
    text-align: center;
    overflow: hidden;
    z-index: 999;
    span {
        margin-bottom: rem(20);
        display: block;
        height: rem(42);
        img {
            height: 100%;
        }
    }
    p {
        margin-left: - rem(150);
        display: block;
        width: 150%;
        @include transform(scale(0.6));
    }
    em {
        margin: rem(5) 0 rem(5) (- rem(160));
        display: block;
        width: 150%;
        @include transform(scale(0.5));
    }
}

/*undown-bg*/
.undown-bg {
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.85);
    display: none;
    height: 100%;
    width: 100%;
    z-index: 9999;
}

.undown-text {
    position: absolute;
    right: 0;
    top: 0;
    background: url("../images/msg_weixin.png") no-repeat;
    background-size: 100% auto;
    height: 100%;
    width: 100%;
}



