/**
 * Author: liushaozong
 * Date: 2017/6/23
 * Time: 18:06
 * Description:Description
 */
@import "../scss/bourbon/bourbon";
@import "../scss/normalize";
@import "../scss/public";
@import "../scss/rem";

.main {
    width: rem(640);
    height: auto;
    overflow: hidden;
    .header {
        position: fixed;
        width: 100%;
        height: rem(103);
        background: url("../img/top-bg.jpg") no-repeat;
        background-size: 100%;
        z-index: 10;
        .icon {
            position: absolute;
            left: rem(20);
            top: rem(13);
            width: rem(76);
            height: rem(76);
            img {
                width: rem(76);
                height: rem(76);
            }
        }
        .icon-text {
            position: absolute;
            left: rem(112);
            top: rem(25);
            img {
                width: rem(222);
                height: rem(56);
            }
        }
        .down-btn1 {
            position: absolute;
            right: rem(20);
            top: rem(20);
            img {
                width: rem(176);
                height: rem(68);
            }
        }
    }
    .page1 {
        position: relative;
        top: rem(103);
        width: 100%;
        height: rem(620);
        background: url("../img/page_01.jpg") center no-repeat;
        background-size: 100%;
        .logo {
            position: absolute;
            top: rem(15);
            left: rem(236);
            opacity: 0;
            @include animation(flash 0.25s ease-in 1s both);
            img {
                width: rem(150);
                height: rem(81);
            }
        }
        .person-1 {
            position: absolute;
            left: rem(62);
            top: rem(105);
            z-index: 3;
            @include animation(person_p2 ease-in-out .3s both);
            img {
                width: rem(491);
                height: rem(578);
            }
        }
        .person-2 {
            position: absolute;
            left: rem(-100);
            top: rem(137);
            z-index: 2;
            @include animation(person_p1 .3s ease-in-out .3s both);
            img {
                width: rem(487);
                height: rem(506);
            }
        }
        .person-3 {
            position: absolute;
            right: rem(-120);
            top: rem(165);
            z-index: 2;
            @include animation(person_p3 .3s ease-in-out .3s both);
            img {
                width: rem(495);
                height: rem(471);
            }
        }
    }
    .page2 {
        position: relative;
        top: rem(103);
        width: 100%;
        height: rem(355);
        background: url("../img/page_02.jpg") center no-repeat;
        background-size: 100%;
        .slogan {
            position: absolute;
            left: rem(35);
            z-index: 2;
            top: rem(50);
            opacity: 0;
            z-index: 0;
            @include animation(scaleUp 0.25s ease-in .7s both);
            img {
                width: rem(587);
                height: rem(98);
            }
        }
        .video {
            position: absolute;
            width: rem(70);
            height: rem(70);
            background: url("../img/video-btn.png") no-repeat;
            background-size: 100%;
            left: rem(296);
            top: rem(70);
            opacity: 0;
            z-index: 2;
            @include animation(flash 0.25s ease-in .9s both);

        }
        .video-span {
            position: absolute;
            left: rem(295);
            top: rem(67);
            width: rem(72);
            height: rem(73);
            opacity: 0;
            z-index: 1;
            @include animation(rotate 4s linear 1s infinite);
            img {
                width: rem(72);
                height: rem(73);
            }
        }
        .down-btn2 {
            position: absolute;
            left: rem(201);
            bottom: rem(100);
            @include animation(upImg 0.5s ease-in both);
            img {
                width: rem(242);
                height: rem(84);
            }
            span {
                position: absolute;
                left: rem(-15);
                bottom: rem(-30);
                width: rem(287);
                height: rem(60);
                background: url("../img/down-btn2-c.png") no-repeat;
                background-size: 100%;
            }
        }
    }
    .page3 {
        position: relative;
        top: rem(103);
        width: 100%;
        height: rem(880);
        background: url("../img/page_03.jpg") center no-repeat;
        background-size: 100%;
        .title {
            position: absolute;
            left: rem(105);
            top: rem(20);
            img {
                width: rem(439);
                height: rem(53);
            }
        }
        .swiper-container {
            position: relative;
            top: rem(50);
            width: 100%;
            height: rem(800);
            .swiper-slide {
                position: relative;
                text-align: center;
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
                width: 100%;
                overflow: hidden;
                .slide-bg {
                    position: absolute;
                    left: rem(157);
                    top: rem(140);
                    img {
                        width: rem(324);
                        height: rem(546);
                    }
                }
                .p1 {
                    position: absolute;
                    left: 0;
                    top: rem(80);
                    opacity: 0;
                    img {
                        width: 100%;
                        height: rem(708);
                    }
                }
                .p1-t {
                    position: absolute;
                    right: rem(-150);
                    top: rem(140);
                    img {
                        width: rem(81);
                        height: rem(164);
                    }
                }
                .p1-n1 {
                    position: absolute;
                    left: rem(90);
                    top: rem(216);
                    @include animation(flicker 4s linear infinite);
                    img {
                        width: rem(134);
                        height: rem(134);
                    }
                }
                .p1-n2 {
                    position: absolute;
                    left: rem(90);
                    top: rem(345);
                    @include animation(flicker 4s linear infinite);
                    img {
                        width: rem(134);
                        height: rem(134);
                    }
                }
                .p1-n3 {
                    position: absolute;
                    left: rem(90);
                    top: rem(474);
                    @include animation(flicker 4s linear infinite);
                    img {
                        width: rem(134);
                        height: rem(134);
                    }
                }
                &.slide2 {

                    .p1 {
                        left: rem(47);
                        opacity: 0;
                        img {
                            width: rem(570);
                            height: rem(713);
                        }
                    }
                    .p1-t {
                        img {
                            width: rem(89);
                            height: rem(216);
                        }
                    }
                }
                &.slide3 {
                    .p1 {
                        left: rem(30);
                        opacity: 0;
                        img {
                            width: rem(608);
                            height: rem(724);
                        }
                    }
                    .p1-t {
                        img {
                            width: rem(103);
                            height: rem(226);
                        }
                    }
                }
            }
            .swiper-pagination-bullet-active {
                background: #d68a8a;
            }
            .swiper-pagination-bullet {
                background: #fba6a6;
            }
        }

    }
    .page4 {
        position: relative;
        top: rem(103);
        width: 100%;
        height: rem(938);
        background: url("../img/page_04.jpg") no-repeat;
        background-size: 100%;
        .title {
            position: absolute;
            left: rem(105);
            top: rem(63);
            img {
                width: rem(439);
                height: rem(53);
            }
        }
        .peach {
            position: absolute;
            top: rem(-250);
            left: 0;
            z-index: 3;
            img {
                width: rem(213);
                height: rem(572);
            }
        }
        .text {
            position: absolute;
            bottom: rem(240);
            font-size: rem(22);
            color: #b58352;
            left: rem(230);
        }
        .btn1 {
            position: absolute;
            bottom: rem(130);
            left: rem(72);
            z-index: 2;
            img {
                width: rem(90);
                height: rem(152);
            }
            span {
                position: absolute;
                top: rem(-7);
                left: rem(0);
                display: block;
                width: rem(95);
                height: rem(106);
                background: url("../img/active1.png") no-repeat;
                background-size: 100%;
            }
        }
        .btn2 {
            position: absolute;
            left: rem(168);
            bottom: rem(85);
            img {
                width: rem(89);
                height: rem(143);
            }
            span {
                position: absolute;
                top: rem(-18);
                left: rem(-1);
                display: none;
                width: rem(95);
                height: rem(111);
                background: url("../img/active2.png") no-repeat;
                background-size: 100%;
            }
        }
        .btn3 {
            position: absolute;
            left: rem(273);
            bottom: rem(70);
            img {
                width: rem(89);
                height: rem(142);
            }
            span {
                position: absolute;
                top: rem(-18);
                left: rem(-1);
                display: none;
                width: rem(95);
                height: rem(113);
                background: url("../img/active3.png") no-repeat;
                background-size: 100%;
            }
        }
        .btn4 {
            position: absolute;
            left: rem(377);
            bottom: rem(85);
            img {
                width: rem(90);
                height: rem(144);
            }
            span {
                position: absolute;
                top: rem(-18);
                left: rem(-1);
                display: none;
                width: rem(99);
                height: rem(111);
                background: url("../img/active4.png") no-repeat;
                background-size: 100%;
            }
        }
        .btn5 {
            position: absolute;
            right: rem(80);
            bottom: rem(130);
            img {
                width: rem(92);
                height: rem(144);
            }
            span {
                display: none;
                position: absolute;
                top: rem(-13);
                left: rem(-3);
                width: rem(95);
                height: rem(105);
                background: url("../img/active5.png") no-repeat;
                background-size: 100%;
            }
        }
        .gif-div {
            position: absolute;
            width: rem(430);
            height: rem(430);
            left: rem(100);
            top: rem(183);
            .gif-img {
                position: absolute;
                left: 0;
                display: none;
                width: rem(430);
                height: rem(430);
                border-radius: 50% 50%;
                border: 3px #ad7b50 solid;
                img {
                    width: rem(430);
                    height: rem(430);
                    border-radius: 50% 50%;
                }
                &.active {
                    display: block;
                }
            }

        }
    }
    .page5 {
        position: relative;
        top: rem(103);
        width: 100%;
        height: rem(1120);

        .dialog-tips {
            position: absolute;
            left: rem(210);
            top: rem(635);
            height: rem(80);
            width: rem(138);
            cursor: pointer;
            opacity: 1;
            @include transform-origin(50% 60%);
            @include transition(all 1s ease-out 0s);
            &.left {
                @include transform(translateX(rem(145)))
            }
            &.right {
                @include transform(translateX(rem(145)))
            }
            &.active {
                opacity: 0;
                @include transform(scale(0));
            }
        }
        .dialog-content {
            position: absolute;
            left: rem(40);
            top: rem(600);
            background: url("../img/four-6.png") no-repeat center;
            background-size: 100% 100%;
            height: rem(120);
            width: rem(450);
            opacity: 0;
            @include transform-origin(50% 100%);
            @include transform(scale(0));
            @include transition(all 1s ease-out 0s);
            &.active {
                opacity: 1;
                @include transform(scale(1));
                &.left {
                    @include transform(translateX(rem(145)));
                }
                &.right {
                    @include transform(translateX(rem(145)));
                }
            }
            p {
                position: absolute;
                left: rem(50);
                top: rem(20);
                width: rem(370);
                color: #ffffff;
                font-family: "Microsoft YaHei UI";
                font-size: rem(18);
                line-height: rem(28);
                opacity: 0;
                @include transition(all 0.2s ease 0s);
                &.active {
                    opacity: 1;
                }
                span, em {
                    color: #f9af2e;
                }
                &.person-two span {
                    color: #2a98e7;
                }
                &.word-4 {
                    top: rem(10);
                    font-size: rem(18);
                    line-height: rem(76);
                    a {
                        float: left;
                        margin-left: rem(20);
                        display: block;
                    }
                    button {
                        float: right;
                        margin: rem(14) 0 rem(14) 0;
                        background: #aedbcf;
                        border: 2px solid #bcffed;
                        border-radius: rem(25);
                        height: rem(50);
                        width: rem(90);
                        color: #1b1a18;
                        font-size: rem(16);
                        line-height: rem(46);
                        text-align: center;
                        cursor: pointer;
                    }
                }
            }
        }

        .fowl {
            position: absolute;
            z-index: 3;
            right: 0;
            top: rem(-60);
            img {
                width: 100%;
                height: rem(254);
            }
        }
        .page5-img {
            position: absolute;
            //left: rem(-400);
            width: rem(1500);
            height: rem(2000);
            background: url("../img/p-img.jpg") no-repeat;
            background-size: 100%;
        }
        .title {
            position: absolute;
            left: rem(110);
            top: rem(65);
            img {
                width: rem(439);
                height: rem(53);
            }
        }
        .btn {
            position: absolute;
            left: rem(178);
            top: rem(175);
            width: rem(283);
            height: rem(235);
            background: url("../img/bot-btn.png") no-repeat;
            background-size: 100%;
            /*.left{
                position: absolute;
                top: rem(50);
                left: rem(10);
                width: rem(50);
                height: rem(50);
                background: red;
            }
            .right{
                position: absolute;
                top: rem(50);
                right: rem(10);
                width: rem(50);
                height: rem(50);
                background: red;
            }*/
        }

    }
    .page6 {
        position: relative;
        width: 100%;
        top: rem(-110);
        z-index: 5;
        height: rem(1360);
        background: url("../img/bot-bg.png") no-repeat;
        background-size: 100%;
        .swiper-box {
            position: relative;
            left: rem(110);
            top: rem(230);
            width: rem(428);
            height: rem(427);
            background: url("../img/s-bg.png") no-repeat;
            background-size: 100%;
            .swiper-container {
                position: relative;
                top: rem(4);
                left: rem(0);
                width: rem(420);
                height: rem(420);
                .swiper-slide {
                    position: relative;
                    text-align: center;
                    width: rem(420);
                    height: rem(420);
                    overflow: hidden;
                    img {
                        width: rem(421);
                        height: rem(420);
                    }
                }
            }
            .swiper-button-next {
                top: rem(200);
                right: rem(-70);
                width: rem(36);
                height: rem(66);
                background: url("../img/right.png") no-repeat;
                background-size: 100%;
            }
            .swiper-button-prev {
                top: rem(200);
                left: rem(-70);
                width: rem(36);
                height: rem(66);
                background: url("../img/left.png") no-repeat;
                background-size: 100%;
            }
            .swiper-pagination {
                bottom: rem(-50);
                left: rem(170);
                span {
                    margin: rem(5);
                }
                .swiper-pagination-bullet-active {
                    background: #5d80a6;
                }
                .swiper-pagination-bullet {
                    background: #253f5b;
                }
            }
        }

        .more {
            position: absolute;
            left: rem(217);
            bottom: rem(550);
            img {
                width: rem(206);
                height: rem(76);
            }
        }
        .title {
            position: absolute;
            left: rem(180);
            top: rem(125);
            img {
                width: rem(279);
                height: rem(53);
            }
        }
        .ewm {
            position: absolute;
            left: rem(72);
            top: rem(875);
            width: rem(251);
            height: rem(258);
            background: url("../img/ewm-bg.png") no-repeat;
            background-size: 100%;
            img {
                position: absolute;
                left: rem(30);
                top: rem(30);
                width: rem(177);
                height: rem(177);
            }
        }
        .ewm-text {
            position: absolute;
            width: rem(260);
            top: rem(1140);
            left: rem(60);
            font-size: rem(16);
            color: #fff;
            text-align: center;
            span {
                display: block;
                text-align: center;
                line-height: rem(40);
                font-size: rem(24);
            }
        }
        .qq, .sina, .bbs {
            position: absolute;
            top: rem(875);
            right: rem(25);
            width: rem(250);
            font {
                margin-top: 10px;
                display: block;
                font-weight: bold;
            }
            span {
                display: block;
                img {
                    width: rem(55);
                    height: rem(57);
                }
            }
            a {
                position: absolute;
                display: block;
                left: rem(70);
                top: 0;
                color: #9bbadd;
                font-size: rem(22);
                font {
                    font-size: rem(26);
                }
            }
        }
        /*.sina {
            position: absolute;
            top: rem(1000);
            span {
                display: block;
                img {
                    width: rem(65);
                    height: rem(50);
                }
            }

        }*/
        .bbs {
            position: absolute;
            top: rem(1100);
            span {
                display: block;
                img {
                    width: rem(64);
                    height: rem(56);
                }
            }

        }
        .top {
            position: absolute;
            bottom: rem(50);
            left: rem(240);
            img {
                width: rem(162);
                height: rem(68);
            }
        }
        .glim {
            position: absolute;
            left: 0;
            top: rem(116);
            z-index: 2;
            img {
                width: rem(138);
                height: rem(288);
            }
        }
        .footer-f {
            position: absolute;
            width: 100%;
            height: rem(122);
            background: url("../img/footer.jpg") no-repeat;
            background-size: 100%;
            bottom: rem(-110);

        }
    }
    .list-cont {
        position: relative;
        width: 100%;
        min-height: rem(1050);
        background: url("../img/list-bg.jpg") #fff8f8 no-repeat;
        background-size: 100%;
        top: rem(103);
        .back {
            position: absolute;
            left: rem(35);
            top: rem(55);
            z-index: 3;
            img {
                width: rem(51);
                height: rem(51);
            }
        }
        .title {
            position: absolute;
            left: rem(185);
            top: rem(65);
            img {
                width: rem(285);
                height: rem(53);
            }
        }
        .news-right-header {
            position: relative;
            top: rem(130);
            width: 100%;
            height: rem(80);
            background: rgba(255, 255, 255, 0.5);
            border-bottom: 1px solid #f6d9d4;
            border-top: 1px solid #f6d9d4;
        }
        .news-nav {
            width: rem(560);
            height: rem(80);
            margin: 0 auto;
            text-align: center;
            a {
                position: relative;
                display: inline-block;
                height: rem(80);
                width: rem(90);
                margin: 0 rem(6);
                color: #352d1f;
                font-family: "宋体", Simsun;
                font-size: rem(24);
                line-height: rem(80);
                text-align: center;
                &.active {
                    color: #c6693d;
                    font-weight: bold;
                }
                span {
                    position: absolute;
                    width: rem(90);
                    height: rem(4);
                    display: none;
                    background: #e0a0a0;
                    bottom: 0;
                    left: 0;
                }
            }
        }
        .news-list {
            margin: rem(170) auto 0;
            width: rem(600);
            color: #4a5059;
            height: auto;
            font-size: rem(24);
            padding-bottom: rem(100);
            li {
                height: rem(80);
                line-height: rem(80);
                border-bottom: 1px #f0d3d3 solid;
            }
            a {
                float: left;
                color: #4a5059;
                width: rem(530);
                height: rem(80);
                line-height: rem(80);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            span {
                display: block;
                margin-right: 5px;
                color: #9b9da0;
                float: left;
            }
            time {
                float: right;
                color: #9b9da0;
            }
        }
        .pagenation {
            margin: rem(40) auto 0;
            width: 100%;
            color: #bb9c91;
            font-size: rem(24);
            text-align: center;
            padding-bottom: rem(150);
            a {
                padding: 0 rem(5);
                display: inline-block;
                &.active {
                    color: #c6693d;
                    font-weight: bold;
                }
            }
        }
        .news-detail-title {
            padding: 0 40px;
            h3 {
                color: #4a5059;
                font-size: 30px;
                line-height: 70px;
            }
            .new-detail-con {
                margin-bottom: 25px;
                height: 24px;
                color: #2e2e2e;
                font-size: 12px;
                line-height: 24px;
                time, span, em, .share {
                    float: left;
                }
                span {
                    margin: 0 10px;
                }
                .share {
                    padding: 3px 0 0 20px;
                    display: block;
                    a {
                        float: left;
                        margin: 0 2px;
                        background: url("../img/news-10.png") no-repeat left top;
                        display: block;
                        width: 19px;
                        height: 19px;
                        &.qq-zone {
                            background-position: -66px 0;
                        }
                        &.sinna-weibo {
                            background-position: -21px 0;
                        }
                        &.tecent-weibo {
                            background-position: -45px 0;
                        }
                    }
                }
            }
        }
        .news-detail-con {
            margin: 30px auto 0;
            width: 690px;
            p {
                margin-bottom: 30px;
                line-height: 28px;
            }
        }
        .pagenation-detail {
            margin: 30px auto;
            background: url("../img/news-9.png") no-repeat center;
            height: 216px;
            width: 710px;
            a {
                display: block;
                height: 100px;
                width: 260px;
                color: #60688f;
                font-size: 16px;
                line-height: 33px;
                overflow: hidden;
                &:hover {
                    text-decoration: none;
                }
                &.prev {
                    float: left;
                    margin: 50px 0 0 75px;
                }
                &.next {
                    float: right;
                    margin: 50px 65px 0 0
                }
            }
        }
        .details {
            width: 100%;
            height: auto;
            margin: 0 auto;
            padding-top: rem(150);
            padding-bottom: rem(200);
            .details-title {
                position: relative;
                width: 100%;
                height: rem(148);
                border-top: 1px #e7bebf solid;
                border-bottom: 1px #e7bebf solid;
                background: rgba(255, 255, 255, 0.5);
                h6 {
                    display: block;
                    width: rem(450);
                    font-size: rem(28);
                    color: #60688f;
                    line-height: rem(40);
                    margin: 0 auto;
                    text-align: center;
                    padding-top: rem(40);
                }
                .time {
                    position: absolute;
                    top: rem(130);
                    left: rem(243);
                    width: rem(151);
                    height: rem(34);
                    background: url("../img/time-bg.png") no-repeat;
                    background-size: 100%;
                    font-size: rem(20);
                    line-height: rem(36);
                    color: #fff;
                    text-align: center;
                }
            }
            .details-cont {
                width: rem(560);
                height: auto;
                margin: rem(50) auto rem(100);
                p {
                    color: #1f2124;
                    font-size: rem(24);
                    line-height: rem(40);
                    padding-bottom: rem(10);
                    img {
                        width: 100% !important;
                        height: auto !important;
                    }
                }
            }
            .p-n {
                position: relative;
                width: rem(627);
                height: rem(245);
                background: url("../img/p-bg.png") no-repeat;
                background-size: 100%;
                margin-left: rem(7);

                .per {
                    position: absolute;
                    left: rem(50);
                    top:rem(80);
                    width: rem(250);
                    height: rem(100);
                    font-size: rem(24);
                    color: #60688f;
                    span {
                        position: absolute;
                        left: rem(10);
                        top: rem(80);
                        display: block;
                        width: rem(20);
                        font-size: rem(22);
                        color: #fff;
                    }

                }
                .next {
                    position: absolute;
                    right: rem(50);
                    top:rem(80);
                    width: rem(250);
                    height: rem(100);
                    color: #60688f;
                    span {
                        position: absolute;
                        right: rem(10);
                        top: rem(80);
                        display: block;
                        width: rem(20);
                        font-size: rem(22);
                        color: #fff;
                    }
                }
            }
            .top {
                position: relative;
                top: rem(50);
                left: rem(270);
                img {
                    width: rem(78);
                    height: rem(34);
                }
            }
        }
    }
    .footer {
        position: relative;
        width: 100%;
        height: rem(122);
        background: url("../img/footer.jpg") no-repeat;
        background-size: 100%;
        top: rem(0);
    }
}

.img-flash {
    @include animation(flash ease-in-out .4s both);
}

.rightImg {
    @include animation(rightImg 0.2s ease-in both);
}

.upImg {
    @include animation(upImg 0.5s ease-in both);
}

.downImg {
    @include animation(downImg 0.5s ease-in both);
}

.rightImg {
    @include animation(rightImg 0.5s ease-in both);
}

@include keyframes(person_p1) {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        @include transform(translate3d(-100%, 0, 0))
    }
    60% {
        opacity: 1;
        @include transform(translate3d(8%, 0, 0))
    }
    75% {
        @include transform(translate3d(-5%, 0, 0))
    }
    90% {
        @include transform(translate3d(2.5%, 0, 0))
    }
    100% {
        @include transform(translate3d(0, 0, 0))
    }
}

@include keyframes(person_p2) {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        @include transform(translate3d(0, -100%, 0))
    }
    60% {
        opacity: 1;
        @include transform(translate3d(0, 8%, 0))
    }
    75% {
        @include transform(translate3d(0, -5%, 0))
    }
    90% {
        @include transform(translate3d(0, 2.5%, 0))
    }
    100% {
        @include transform(translate3d(0, 0, 0))
    }
}

@include keyframes(person_p3) {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        @include transform(translate3d(100%, 0, 0))
    }
    60% {
        opacity: 100;
        @include transform(translate3d(-8%, 0, 0))
    }
    75% {
        @include transform(translate3d(5%, 0, 0))
    }
    90% {
        @include transform(translate3d(-2.5%, 0, 0))
    }
    100% {
        @include transform(translate3d(0, 0, 0))
    }
}

@include keyframes(scaleUp) {
    0% {
        opacity: 0;
        transform: scale(2);
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@include keyframes(rotate) {
    0% {
        opacity: 1;
        transform: rotate(0deg);
    }
    100% {
        opacity: 1;
        transform: rotate(360deg);
    }
}

@include keyframes (flash) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@include keyframes (upImg) {
    0% {
        opacity: 0;
        @include transform(translateY(100px));
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        @include transform(translateY(0));
    }
}

@include keyframes (rightImg) {
    0% {
        opacity: 1;
        @include transform(translateX(rem(0)));
    }
    100% {
        opacity: 1;
        @include transform(translateX(rem(-170)));
    }
}

@include keyframes (flicker) {
    0% {
        opacity: .8;
        @include transform(translateY(0));
    }
    50% {
        opacity: 1;
        @include transform(translateY(rem(20)));
    }
    100% {
        opacity: .8;
        @include transform(translateY(0));
    }
}

/*---------------------------------------pulic---------------------------------------*/
/*undown-bg*/
.undown-bg {
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.85);
    display: none;
    height: 100%;
    width: 100%;
    z-index: 9999;
}

.undown-text {
    position: absolute;
    right: 0;
    top: 0;
    background: url("../img/msg_weixin.png") no-repeat;
    background-size: 100% auto;
    height: 100%;
    width: 100%;
}

/*video*/
.popmask {
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9998;
}

.video-wrap {
    position: fixed;
    left: 0;
    top: 30%;
    display: none;
    width: 100%;
    z-index: 9999;
    video {
        width: 100%;
    }
    a {
        position: absolute;
        right: rem(5);
        top: rem(-35);
        background: rgba(255, 255, 255, 0.8);
        display: block;
        height: rem(32);
        width: rem(32);
        img {
            display: block;
            height: 100%;
            width: 100%;
        }
    }
}