@include keyframes(btnAnimate) {
    from {
        @include transform(scale3d(1, 1, 1));
    }
    30% {
        @include transform(scale3d(1.25, 0.75, 1));
    }
    40% {
        @include transform(scale3d(0.75, 1.25, 1));
    }
    50% {
        @include transform(scale3d(1.15, 0.85, 1));
    }
    65% {
        @include transform(scale3d(.95, 1.05, 1));
    }
    75% {
        @include transform(scale3d(1.05, .95, 1));
    }
    to {
        @include transform(scale3d(1, 1, 1));
    }
}

@include keyframes(slideInUp) {
    from {
        @include transform(translate3d(0, 100%, 0));
        opacity: 0;
        visibility: visible;
    }
    to {
        @include transform(translate3d(0, 0, 0));
        opacity: 1;
    }
}

@include keyframes(bounceInDown) {
    from, 60%, 75%, 90%, to {
        @include animation-timing-function(cubic-bezier(0.215, 0.610, 0.355, 1.000));
    }
    0% {
        opacity: 0;
        @include transform(translate3d(0, -3000px, 0));
    }
    60% {
        opacity: 1;
        @include transform(translate3d(0, 25px, 0));
    }
    75% {
        @include transform(translate3d(0, -10px, 0));
    }
    90% {
        @include transform(translate3d(0, 5px, 0));
    }
    to {
        opacity: 1;
        @include transform(none);
    }
}

@include keyframes(bounceInLeft) {
    from, 60%, 75%, 90%, to {
        @include animation-timing-function(cubic-bezier(0.215, 0.610, 0.355, 1.000));
    }
    0% {
        opacity: 0;
        @include transform(translate3d(-3000px, 0, 0));
    }
    60% {
        opacity: 1;
        @include transform(translate3d(25px, 0, 0));
    }
    75% {
        @include transform(translate3d(-10px, 0, 0));
    }
    90% {
        @include transform(translate3d(5px, 0, 0));
    }
    to {
        @include transform(none);
    }
}

@include keyframes(bounceInUp) {
    from, 60%, 75%, 90%, to {
        @include animation-timing-function(cubic-bezier(0.215, 0.610, 0.355, 1.000));
    }
    from {
        opacity: 0;
        @include transform(translate3d(0, 3000px, 0));
    }
    60% {
        opacity: 1;
        @include transform(translate3d(0, -20px, 0));
    }
    75% {
        @include transform(translate3d(0, 10px, 0));
    }
    90% {
        @include transform(translate3d(0, -5px, 0));
    }
    to {
        @include transform(none);
    }
}