@charset "UTF-8";
/**
 * Author：zhoushuanglong
 * Time：2017/8/24
 * Description：index
 */
@import "../../../../_sass/bourbon/bourbon";
@import "../../../../_sass/normalize/normalize";
@import "../../../../_sass/public/public";

body {
    background: #fff;
}

.main {
    padding-top: 760px;
    background: url("../img/bg.jpg") no-repeat center top;
    min-height: (1100-760)+px;
    .download {
        margin: 0 auto;
        height: 80px;
        width: 480px;
        a {
            float: left;
            display: block;
            height: 100%;
            width: 240px;
        }
    }
}

