<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="黎明之光,黎明之光手游,黎明之光官网,黎明之光礼包,黎明之光下载,黎明之光论坛,黎明之光">
    <meta name="description" content="蓝港互动2016首款三端同步3DMMO动作手游《黎明之光》即将正式上线。游戏以上古龙神之间的封魔战争为故事背景，采用顶尖自研Saturn 3D引擎，打造最真实炫丽的3D大世界。360°全景空战、无限技能连击、野外组团冒险、个性战宠出征控场、一切PK玩法皆可跨服。光明与黑暗，忠诚与信仰，为玩家带来一场痛快的冒险竞技之旅！">
    <meta name="author" content="name, email@gmail.com">
    <meta name="viewport"
          content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-title" content="">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-itunes-app" content="app-id=myAppStoreID, affiliate-data=myAffiliateData, app-argument=myURL">
    <meta name="format-detection" content="telphone=no, email=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <!--remove weixin's cache -->
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>《黎明之光》下载_蓝港互动</title>

    <!--publlic-->
    <script src="https://common.8864.com/web/js/zepto/zepto.min.js"></script>

    <!--private-->
    <link rel="stylesheet" type="text/css" href="css/land.css">
    <script src="js/land.js"></script>

<body>
<div class="land-img" id="landImgOne"><img src="" /></div>
<div class="land-img" id="landImgTwo"><img src="" /></div>
<footer>
    <span><img src="images/footer-logo.jpg"></span>
    <p>蓝港在线（北京）科技有限公司 京ICP备09017018号-3 文网游备字[2016]M-RPG2263号</p>
    <em>Copyright © 2007-2017 linekong.com, All Rights Reserved</em>
    <p>电话：010-84170099 地址：北京市朝阳区望京北路启明国际大厦8层 </p>
</footer>
<div class="undown-bg" id='shadow'>
    <div class="undown-text"></div>
</div>
</body>
</html>