/*----------import module----------*/
@import "../../../_sass/bourbon/bourbon";
@import "../../../_sass/normalize/normalize";
@import "../../../_sass/public/public";

/*----------my style----------*/
body {
    background: #fff;
    color: #fff;
}

.land-img {
    width: 100%;
    img {
        display: block;
        width: 100%;
    }
}

/*footer*/
.footer{
    position: fixed;
    bottom: rem(70);
    width: rem(320);
    height: rem(70);
    left: 50%;
    margin-left: rem(-160);
    background: #f3874c;
    text-align: center;
    line-height: rem(70);
    font-size: rem(28);
    color: #fff;
    border-radius: rem(40);
    z-index: 1000;

}

.land-cont{
    width: 100%;
    height: auto;
    overflow: hidden;
    img{
        width: rem(640);
        height: auto;
    }
}
/*undown-bg*/
.undown-bg {
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.85);
    display: none;
    height: 100%;
    width: 100%;
    z-index: 9999;
}

.undown-text {
    position: absolute;
    right: 0;
    top: 0;
    background: url("../images/msg_weixin.png") no-repeat;
    background-size: 100% auto;
    height: 100%;
    width: 100%;
}

.land-head{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: rem(120);
    z-index: 20;
    img{
        width:100%
    }
}
#landImgOne{
    margin-top:rem(120) ;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: rem(0);
}
.land-con{
    width: 100%;
    height: rem(890);
    //background: url("../images/bg.jpg") no-repeat;
    background: #fff;
    .swiper-container {
        width: 100%;
        padding-top: rem(50);
        padding-bottom: rem(50);
        .swiper-slide {
            width: rem(420);
            height: rem(745);
            img{
                width: rem(420);
                height: rem(745);
            }

        }
    }

}