<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="蓝港互动2016首款三端同步3DMMO动作手游《黎明之光》即将正式上线。游戏以上古龙神之间的封魔战争为故事背景，采用顶尖自研Saturn 3D引擎，打造最真实炫丽的3D大世界。360°全景空战、无限技能连击、野外组团冒险、个性战宠出征控场、一切PK玩法皆可跨服。光明与黑暗，忠诚与信仰，为玩家带来一场痛快的冒险竞技之旅！">
    <meta name="keywords" content="黎明之光,黎明之光手游,黎明之光职业,赏金猎人,魔导师,傀儡师">

    <title>《黎明之光》职业站_青春魔幻冒险手游_蓝港互动</title>
</head>
<link rel="stylesheet" href="../css/zhiyezhan/reset.css">
<link rel="stylesheet" href="../css/zhiyezhan/jquery.fullPage.css">
<link rel="stylesheet" href="../css/zhiyezhan/layout.css">
<script type="text/javascript" src="http://img.linekong.com/js/jquery/1.9.1/jquery.min.js"></script>


<body>
<div class="all_header">
    <script type="text/javascript" src="http://www.8864.com/web_header.html"></script>
</div>

<div class="pageRight">
    <div class="rightBg"><img src="../images/zhiye_ie/p5.png"></div>
    <ul id="menu">
        <li data-menuanchor="page0" class="list0 active"><a href="#page0"></a></li>
        <li data-menuanchor="page1" class="list1"><a href="#page1"></a></li>
        <li data-menuanchor="page2" class="list2"><a href="#page2"></a></li>
        <li data-menuanchor="page3" class="list3"><a href="#page3"></a></li>
        <li data-menuanchor="page4" class="list4"><a href="#page4"></a></li>
    </ul>
</div>
<div class="shade"></div>
<div class="pageImgBox" id="pageImgBox">
    <div class="pageImgBox_img"></div>
    <div class="close"><img src="../images/zhiye_ie/close1.png"></div>
</div>
<div class="videoBox0" _src="http://gdl1401.8864.com/dbm/market/zs.mp4">
    <video class="video1" src="" controls autoplay style="width: 100%; display: inline-block;">您的浏览器不支持该视频</video>
    <div class="Vclose"><img src="../images/zhiye_ie/close1.png"></div>
</div>
<div class="videoBox1" _src="http://gdl1401.8864.com/dbm/market/zs.mp4">
    <video class="video1" src="" controls autoplay style="width: 100%; display: inline-block;">您的浏览器不支持该视频</video>
    <div class="Vclose"><img src="../images/zhiye_ie/close1.png"></div>
</div>
<div class="videoBox2" _src="http://gdl1401.8864.com/dbm/market/sjlr.mp4">
    <video class="video2" src="" controls autoplay style="width: 100%; display: inline-block;">您的浏览器不支持该视频</video>
    <div class="Vclose"><img src="../images/zhiye_ie/close1.png"></div>
</div>
<div class="videoBox3" _src="http://gdl1401.8864.com/dbm/market/kls.mp4">
    <video class="video3" src="" controls autoplay style="width: 100%; display: inline-block;">您的浏览器不支持该视频</video>
    <div class="Vclose"><img src="../images/zhiye_ie/close1.png"></div>
</div>
<div class="videoBox4" _src="http://gdl1401.8864.com/dbm/market/mds.mp4">
    <video class="video4" src="" controls autoplay style="width: 100%; display: inline-block;">您的浏览器不支持该视频</video>
    <div class="Vclose"><img src="../images/zhiye_ie/close1.png"></div>
</div>
<div id="dowebok">
    <div class="section">
        <div class="pa0">
            <div class="pa0Tab">
                <div class="pa0_left">
                    <div class="logo"><img src="../images/zhiye_ie/p4.png"></div>
                    <div class="kty0"><img src="../images/zhiye_ie/sword-word.png"></div>
                    <div class="big_img0"><img src="../images/zhiye_ie/sword-big.png"></div>
                    <div class="small_img0"><img src="../images/zhiye_ie/sword-little.png"></div>
                    <div class="btnBig0 btnBig" data-name="true"></div>
                </div>
                <div class="pa0_right">
                    <div class="btnIndex"><a href="http://lmzg.8864.com/main/"> <img src="../images/zhiye_ie/p3.png">
                    </a></div>
                    <div class="zhanshi_img01"><img src="../images/zhiye_ie/p6.png"></div>
                    <div class="zhanshi_img02"><img src="../images/zhiye_ie/sword-title.png"></div>
                    <div class="zhanshi_img03"><img src="../images/zhiye_ie/sword-intro.png"></div>
                    <div class="zhanshi_img04"><img src="../images/zhiye_ie/jineng_tl.png"></div>
                    <div class="sword_jineng">
                        <div class="sword_jinengL"><img src="../images/zhiye_ie/lbtn.png"></div>
                        <div class="sword_jinengC">
                            <div class="swordC_img">
                                <ul class="jnlist clear">
                                    <li>
                                        <div class="showcon first">
                                            <h2>闪避</h2>
                                            <p>大剑士快速前冲，闪避敌人的一切攻击。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon">
                                            <h2>崖突</h2>
                                            <p>大剑士迅速向目标发动一次飞踢，对敌人造成物理伤害并产生战意值，在战意冲天状态下可造成额外伤害。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon">
                                            <h2>摧山斩</h2>
                                            <p>大剑士用力挥动大剑发动一次横砍，对敌人造成物理伤害并产生战意值，在战意冲天状态下可造成额外伤害。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon">
                                            <h2>断岳斩</h2>
                                            <p>释放摧山斩之后可以释放，大剑士用力挥动大剑发动一次横砍，对敌人造成物理伤害并产生战意值，在战意冲天状态下可造成额外伤害</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon last">
                                            <h2>裂地斩</h2>
                                            <p>大剑士挥动大剑用力向前劈砍，对敌人造成物理伤害并产生战意值，在战意冲天状态下可造成额外伤害。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon first">
                                            <h2>碎岩天剑</h2>
                                            <p>大剑士向前方发动猛烈的跳劈，对敌人造成物理伤害并产生战意值，在战意冲天状态下可造成额外伤害。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon">
                                            <h2>削峰逆刃</h2>
                                            <p>大剑士向前方发动猛烈的横斩，对敌人造成物理伤害并产生战意值，在战意冲天状态下可造成额外伤害。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon">
                                            <h2>战意冲撞</h2>
                                            <p>大剑士横举武器快速冲锋，推开碰到敌人并对敌人造成物理伤害并产生战意值，在战意冲天状态下会提高移动速度。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon">
                                            <h2>幽谷</h2>
                                            <p>大剑士用大剑快速刺向敌人下盘，对敌人造成物理伤害并产生战意值。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon last">
                                            <h2>苍崖</h2>
                                            <p>大剑士推动剑柄，向敌人发出狠狠一击，对敌人造成物理伤害并产生战意值。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon first">
                                            <h2>摧山斩</h2>
                                            <p>大剑士用力挥动大剑发动一次横砍，对敌人造成物理伤害，造成伤害同时额外增加大量仇恨，还可快速削减怪物头目硬直条。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon">
                                            <h2>断岳斩</h2>
                                            <p>释放摧山斩后可释放。大剑士用力挥动大剑发动一次横砍，对敌人造成物理伤害，造成伤害同时额外增加大量仇恨，还可快速削减怪物头目硬直条。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon">
                                            <h2>战吼</h2>
                                            <p>大剑士向敌人发出挑衅，使身周50米半径范围内的敌人对自己瞬间提升仇恨，吸引敌人的火力，并强制锁定目标攻击自己，并在20s内使自己受到的伤害降低。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon">
                                            <h2>战意冲撞</h2>
                                            <p>大剑士横举武器快速冲锋，推开碰到敌人并对敌人造成物理伤害。同时在10s内降低目标的硬直回复速度（仅对电脑目标生效）。</p>
                                        </div>
                                    </li>
                                    <!--重复-->
                                    <li>
                                        <div class="showcon last">
                                            <h2>战吼</h2>
                                            <p>大剑士向敌人发出挑衅，使身周50米半径范围内的敌人对自己瞬间提升仇恨，吸引敌人的火力，并强制锁定目标攻击自己，并在20s内使自己受到的伤害降低。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon first">
                                            <h2>战意冲撞</h2>
                                            <p>大剑士横举武器快速冲锋，推开碰到敌人并对敌人造成物理伤害。同时在10s内降低目标的硬直回复速度（仅对电脑目标生效）。</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="sword_jinengR"><img src="../images/zhiye_ie/rbtn.png"></div>
                    </div>
                    <div class="zhanshi_img05"><img src="../images/zhiye_ie/wuqi_tl.png"></div>
                    <div class="zhanshi_wuqi">
                        <div class="sword_wuqiL"><img src="../images/zhiye_ie/lbtn.png"></div>
                        <div class="sword_wuqiR"><img src="../images/zhiye_ie/rbtn.png"></div>
                        <div class="sword_wuqiC">
                            <ul class="sword_wqBox">
                                <!--<li><img src="../images/zhiye_ie/p11.png"></li>-->
                                <!--<li><img src="../images/zhiye_ie/p11.png"></li>-->
                                <!--<li><img src="../images/zhiye_ie/p11.png"></li>-->
                                <!--<li><img src="../images/zhiye_ie/p11.png"></li>-->
                            </ul>
                        </div>
                    </div>
                    <div class="zhanshi_06"><img src="../images/zhiye_ie/yuanhua_tl.png"></div>
                    <div class="zhanshi_yuanhua">
                        <div class="sword_yuanhuaL"><img src="../images/zhiye_ie/lbtn.png"></div>
                        <div class="sword_yuanhuaR"><img src="../images/zhiye_ie/rbtn.png"></div>
                        <div class="sword_yuanhuaC">
                            <ul class="sword_yuanhua">
                                <!--<li><img src="../images/zhiye_ie/p12.jpg"> </li>-->
                                <!--<li><img src="../images/zhiye_ie/p12.jpg"> </li>-->
                                <!--<li><img src="../images/zhiye_ie/p12.jpg"> </li>-->
                                <!--<li><img src="../images/zhiye_ie/p12.jpg"> </li>-->
                                <!--<li><img src="../images/zhiye_ie/p12.jpg"> </li>-->
                                <!--<li><img src="../images/zhiye_ie/p12.jpg"> </li>-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="pa1">
            <div class="pa1Tab">
                <div class="pa1_left">
                    <div class="logo"><img src="../images/zhiye_ie/p4.png"></div>
                    <div class="kty1"><img src="../images/zhiye_ie/p10.png"></div>
                    <div class="big_img1"><img src="../images/zhiye_ie/zhanshi_peo.png"></div>
                    <div class="small_img1"><img src="../images/zhiye_ie/zhanshi_peo_small.png"></div>
                    <div class="btnBig1 btnBig" data-name="true"></div>
                </div>
                <div class="pa1_right">
                    <div class="btnIndex"><a href="http://lmzg.8864.com/main/"> <img src="../images/zhiye_ie/p3.png">
                    </a></div>
                    <div class="zhanshi_img01"><img src="../images/zhiye_ie/p6.png"></div>
                    <div class="zhanshi_img02"><img src="../images/zhiye_ie/zhanshi_tl.png"></div>
                    <div class="zhanshi_img03"><img src="../images/zhiye_ie/zhanshi_p.png"></div>
                    <div class="zhanshi_img04"><img src="../images/zhiye_ie/jineng_tl.png"></div>
                    <div class="zhanshi_jineng">
                        <div class="zhanshi_jinengL"><img src="../images/zhiye_ie/lbtn.png"></div>
                        <div class="zhanshi_jinengC">
                            <div class="inengC_img">
                                <ul class="jnlist clear">
                                    <li>
                                        <div class="showcon first">
                                            <h2>烈风斩</h2>
                                            <p>战士快速的向前方拔剑挥砍两次，对前方敌人造成物理伤害。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon">
                                            <h2>破风斩</h2>
                                            <p>战士转身跃起并对前方敌人挥剑斩击，对前方敌人造成的物理伤害。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon">
                                            <h2>怒涛</h2>
                                            <p>战士跃起空中并施展强力的三次踢击，造成物理伤害。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon">
                                            <h2>龙卷</h2>
                                            <p>战士快速的回转身体，如同龙卷风般对周围的敌人进行猛烈的多段斩击最后击飞敌人，造成物理伤害。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon last">
                                            <h2>突风</h2>
                                            <p>战士快速向前拔剑突刺，造成物理伤害。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon first">
                                            <h2>风牙斩</h2>
                                            <p>战士手持双剑向前方跃起并施展十字交叉斩击，造成物理伤害并使敌人浮空。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon">
                                            <h2>海啸</h2>
                                            <p>战士跃起空中旋转身体并踢出强力的一击，造成物理伤害。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon">
                                            <h2>裂空击</h2>
                                            <p>战士挥舞双剑向前上方跃起攻击，对敌人造成物理伤害。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon">
                                            <h2>深渊蔑噬</h2>
                                            <p>战士旋转身体同时舞动双剑两次，然后向身后奋力刺击，对敌人造成物理伤害。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon last">
                                            <h2>暗礁</h2>
                                            <p>战士浮空或硬直后迅速调整身姿后翻倒勾攻击，造成物理伤害。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon first">
                                            <h2>逆流</h2>
                                            <p>战士倒地后迅速调整身姿施展回旋斩击，造成物理伤害。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon">
                                            <h2>翻腾</h2>
                                            <p>战士迅速向前方指定方向翻滚5.5米。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon">
                                            <h2>怒吼</h2>
                                            <p>战士发出怒吼，使身周20米半径范围内的敌人对自己瞬间提升仇恨，吸引敌人的火力。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon">
                                            <h2>剑格挡</h2>
                                            <p>战士举起双剑，快速挡在自己面前，使自己受到的伤害降低，并进入霸体状态(不会进入受控状态)。</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="zhanshi_jinengR"><img src="../images/zhiye_ie/rbtn.png"></div>
                    </div>
                    <div class="zhanshi_img05"><img src="../images/zhiye_ie/wuqi_tl.png"></div>
                    <div class="zhanshi_wuqi">
                        <div class="zhanshi_wuqiL"><img src="../images/zhiye_ie/lbtn.png"></div>
                        <div class="zhanshi_wuqiR"><img src="../images/zhiye_ie/rbtn.png"></div>
                        <div class="zhanshi_wuqiC">
                            <ul class="zs_wqBox">
                                <!--<li><img src="../images/zhiye_ie/p11.png"></li>-->
                                <!--<li><img src="../images/zhiye_ie/p11.png"></li>-->
                                <!--<li><img src="../images/zhiye_ie/p11.png"></li>-->
                                <!--<li><img src="../images/zhiye_ie/p11.png"></li>-->
                            </ul>
                        </div>
                    </div>
                    <div class="zhanshi_06"><img src="../images/zhiye_ie/yuanhua_tl.png"></div>
                    <div class="zhanshi_yuanhua">
                        <div class="zhanshi_yuanhuaL"><img src="../images/zhiye_ie/lbtn.png"></div>
                        <div class="zhanshi_yuanhuaR"><img src="../images/zhiye_ie/rbtn.png"></div>
                        <div class="zhanshi_yuanhuaC">
                            <ul class="zs_yuanhua">
                                <!--<li><img src="../images/zhiye_ie/p12.jpg"> </li>-->
                                <!--<li><img src="../images/zhiye_ie/p12.jpg"> </li>-->
                                <!--<li><img src="../images/zhiye_ie/p12.jpg"> </li>-->
                                <!--<li><img src="../images/zhiye_ie/p12.jpg"> </li>-->
                                <!--<li><img src="../images/zhiye_ie/p12.jpg"> </li>-->
                                <!--<li><img src="../images/zhiye_ie/p12.jpg"> </li>-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="section">
        <div class="pa2">
            <div class="pa2Tab">

                <div class="pa2_left">
                    <div class="logo"><img src="../images/zhiye_ie/p4.png"></div>
                    <div class="kty2"><img src="../images/zhiye_ie/p7.png"></div>
                    <div class="big_img2"><img src="../images/zhiye_ie/shangjinlieren_peo.png"></div>
                    <div class="small_img2"><img src="../images/zhiye_ie/shangjinlieren_peo_small.png"></div>
                    <div class="btnBig2 btnBig" data-name="true"></div>
                </div>
                <div class="pa1_right">
                    <div class="btnIndex"><a href="http://lmzg.8864.com/main/"> <img src="../images/zhiye_ie/p3.png">
                    </a></div>
                    <div class="zhanshi_img01 lieren_v1"><img src="../images/zhiye_ie/p6.png"></div>
                    <div class="zhanshi_img02"><img src="../images/zhiye_ie/sjlr_tl.png"></div>
                    <div class="zhanshi_img03"><img src="../images/zhiye_ie/p_14.png"></div>
                    <div class="zhanshi_img04"><img src="../images/zhiye_ie/jineng_tl.png"></div>
                    <div class="zhanshi_jineng">
                        <div class="zhanshi_jinengL lieren_jinengL"><img src="../images/zhiye_ie/lbtn.png"></div>
                        <div class="zhanshi_jinengC lieren_jinengC">
                            <div class="LrinengC_img">
                                <ul class="jnlist clear">
                                    <li>
                                        <div class="showcon first">
                                            <h2>连环射击</h2>
                                            <p>赏金猎人拔出双枪向前方发射连环贯通子弹，对前方敌人造成物理伤害。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon">
                                            <h2>魔能轰炸</h2>
                                            <p>向后翻身并向前方区域投掷魔能炸弹，对前方敌人进行轰炸造成魔法伤害。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon">
                                            <h2>封印炸弹</h2>
                                            <p>赏金猎人手持双枪向前方射出两枚炸弹，造成魔法伤害。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon">
                                            <h2>子弹风暴</h2>
                                            <p>赏金猎人将双枪启动连射模式，对前方敌人进行扫射，造成物理伤害并将敌人击飞。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon last">
                                            <h2>回旋踢</h2>
                                            <p>赏金猎人转身踢击面前的敌人，造成物理伤害并击退敌人。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon first">
                                            <h2>枪之启幕</h2>
                                            <p>赏金猎人操纵浮游炮对前方敌人进行攻击，造成魔法伤害。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon">
                                            <h2>枪之回响</h2>
                                            <p>赏金猎人操纵浮游炮排成纵列对前方敌人进行射击，造成物理伤害。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon">
                                            <h2>枪之狂舞</h2>
                                            <p>赏金猎人操纵浮游炮飞向前方空中对下方地面进行射击，造成物理伤害。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon">
                                            <h2>枪之终曲</h2>
                                            <p>赏金猎人将双枪启动散射模式，对前方扇形区域的敌人进行扫射，造成物理伤害并将敌人击飞。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon last">
                                            <h2>回身射击</h2>
                                            <p>赏金猎人被浮空或硬直后迅速调整身姿并向四周拔枪射击，造成物理伤害。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon first">
                                            <h2>隐蔽射击</h2>
                                            <p>赏金猎人被击倒后迅速向后方跃起同时拔枪射击，造成魔法伤害。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon">
                                            <h2>闪避</h2>
                                            <p>赏金猎人迅速朝指定方向侧翻移动5.5米。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon">
                                            <h2>护甲破坏</h2>
                                            <p>赏金猎人用腐蚀魔法攻击目标，使目标的护甲降低。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon">
                                            <h2>治愈魔弹</h2>
                                            <p>赏金猎人用武器发出治愈魔弹，恢复前方友军生命。</p>
                                        </div>
                                    </li>
                                </ul>


                            </div>
                        </div>
                        <div class="zhanshi_jinengR lieren_jinengR"><img src="../images/zhiye_ie/rbtn.png"></div>


                    </div>
                    <div class="zhanshi_img05"><img src="../images/zhiye_ie/wuqi_tl.png"></div>
                    <div class="zhanshi_wuqi">
                        <div class="lieren_wuqiL"><img src="../images/zhiye_ie/lbtn.png"></div>
                        <div class="lieren_wuqiR"><img src="../images/zhiye_ie/rbtn.png"></div>
                        <div class="lieren_wuqiC">
                            <ul class="lr_wqBox">
                                <!--<li><img src="../images/zhiye_ie/p14.png"></li>-->
                                <!--<li><img src="../images/zhiye_ie/p14.png"></li>-->
                                <!--<li><img src="../images/zhiye_ie/p14.png"></li>-->
                                <!--<li><img src="../images/zhiye_ie/p14.png"></li>-->
                            </ul>
                        </div>
                    </div>
                    <div class="zhanshi_06"><img src="../images/zhiye_ie/yuanhua_tl.png"></div>
                    <div class="zhanshi_yuanhua">
                        <div class="lieren_yuanhuaL"><img src="../images/zhiye_ie/lbtn.png"></div>
                        <div class="lieren_yuanhuaR"><img src="../images/zhiye_ie/rbtn.png"></div>
                        <div class="lieren_yuanhuaC">
                            <ul class="lr_yuanhua">
                                <!--<li><img src="../images/zhiye_ie/p12.jpg"> </li>-->
                                <!--<li><img src="../images/zhiye_ie/p12.jpg"> </li>-->
                                <!--<li><img src="../images/zhiye_ie/p12.jpg"> </li>-->
                                <!--<li><img src="../images/zhiye_ie/p12.jpg"> </li>-->
                                <!--<li><img src="../images/zhiye_ie/p12.jpg"> </li>-->
                                <!--<li><img src="../images/zhiye_ie/p12.jpg"> </li>-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="pa3">
            <div class="pa3Tab">

                <div class="pa3_left">
                    <div class="logo"><img src="../images/zhiye_ie/p4.png"></div>
                    <div class="kty3"><img src="../images/zhiye_ie/p9.png"></div>
                    <div class="big_img3"><img src="../images/zhiye_ie/kuileishi_peo.png"></div>
                    <div class="small_img3"><img src="../images/zhiye_ie/kuileishi_peo_small.png"></div>
                    <div class="btnBig3 btnBig" data-name="true"></div>
                </div>
                <div class="pa1_right">
                    <div class="btnIndex"><a href="http://lmzg.8864.com/main/"> <img src="../images/zhiye_ie/p3.png">
                    </a></div>
                    <div class="zhanshi_img01 kuileishi_v1"><img src="../images/zhiye_ie/p6.png"></div>
                    <div class="zhanshi_img02"><img src="../images/zhiye_ie/kuileishi_tl.png"></div>
                    <div class="zhanshi_img03"><img src="../images/zhiye_ie/kuileishi_p.png"></div>
                    <div class="zhanshi_img04"><img src="../images/zhiye_ie/jineng_tl.png"></div>
                    <div class="zhanshi_jineng">
                        <div class="zhanshi_jinengL lieren_jinengL kuilei_jinengL"><img
                                src="../images/zhiye_ie/lbtn.png"></div>
                        <div class="zhanshi_jinengC lieren_jinengC kuilei_jinengC">
                            <div class="KlinengC_img">
                                <ul class="jnlist clear">
                                    <li>
                                        <div class="showcon first">
                                            <h2>半月斩</h2>
                                            <p>傀儡师用力挥舞镰刀，对前方敌人造成物理伤害。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon">
                                            <h2>连环斩</h2>
                                            <p>傀儡师用力旋转镰刀，对前方敌人造成物理伤害。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon">
                                            <h2>封印炸弹</h2>
                                            <p>赏金猎人手持双枪向前方射出两枚炸弹，造成魔法伤害。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon">
                                            <h2>回旋斩</h2>
                                            <p>傀儡师掷出回旋的镰刀将前方的敌人聚拢至身前，并对敌人造成物理伤害。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon last">
                                            <h2>月轮回</h2>
                                            <p>傀儡师手持镰刀快速旋转自身对自身周围的敌人进行多段斩击最后将敌人击飞。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon first">
                                            <h2>锁魂手</h2>
                                            <p>傀儡师召唤虚空之爪将敌人拉至自己面前同时造成魔法伤害。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon">
                                            <h2>噩梦之爪</h2>
                                            <p>傀儡师召唤虚空之爪对面前的敌人进行两次挥击，造成魔法伤害。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon">
                                            <h2>禁断牢狱</h2>
                                            <p>傀儡师操纵虚空之爪进行横扫并锤击，造成物理伤害。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon">
                                            <h2>虚空震荡</h2>
                                            <p>傀儡师操纵虚空之爪进行三次震地锤击，造成物理伤害。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon last">
                                            <h2>无限地狱</h2>
                                            <p>傀儡师向前方连续发射数个虚空之爪攻击，之后跃向前方奋力斩击，造成物理伤害并将敌人击飞。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon first">
                                            <h2>血色绽放</h2>
                                            <p>傀儡师倒地后立刻旋转镰刀并起身反击，对前方敌人造成物理伤害。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon">
                                            <h2>幻视之影</h2>
                                            <p>傀儡师幻化为一道虚空幻影向指定方向快速移动5.5米。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon">
                                            <h2>恶魔之嘲</h2>
                                            <p>来自傀儡师的蔑视，噩梦之爪使身周20米半径范围内的敌人对自己瞬间提升仇恨，吸引敌人的火力。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon">
                                            <h2>暗护之手</h2>
                                            <p>傀儡师全力加持噩梦之爪挡在身前，使自己受到的伤害降低，并进入霸体状态(不会进入受控状态)。</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="zhanshi_jinengR lieren_jinengR kuilei_jinengR"><img
                                src="../images/zhiye_ie/rbtn.png"></div>
                    </div>
                    <div class="zhanshi_img05"><img src="../images/zhiye_ie/wuqi_tl.png"></div>
                    <div class="zhanshi_wuqi">
                        <div class="kuilei_wuqiL"><img src="../images/zhiye_ie/lbtn.png"></div>
                        <div class="kuilei_wuqiR"><img src="../images/zhiye_ie/rbtn.png"></div>
                        <div class="kuilei_wuqiC">
                            <ul class="kl_wqBox">
                                <!--<li><img src="../images/zhiye_ie/p11_kui.png"></li>-->
                                <!--<li><img src="../images/zhiye_ie/p11_kui.png"></li>-->
                                <!--<li><img src="../images/zhiye_ie/p11_kui.png"></li>-->
                                <!--<li><img src="../images/zhiye_ie/p11_kui.png"></li>-->
                            </ul>
                        </div>
                    </div>
                    <div class="zhanshi_06"><img src="../images/zhiye_ie/yuanhua_tl.png"></div>
                    <div class="zhanshi_yuanhua">
                        <div class="kuilei_yuanhuaL"><img src="../images/zhiye_ie/lbtn.png"></div>
                        <div class="kuilei_yuanhuaR"><img src="../images/zhiye_ie/rbtn.png"></div>
                        <div class="kuilei_yuanhuaC">
                            <ul class="kl_yuanhua">
                                <!--<li><img src="../images/zhiye_ie/p12.jpg"> </li>-->
                                <!--<li><img src="../images/zhiye_ie/p12.jpg"> </li>-->
                                <!--<li><img src="../images/zhiye_ie/p12.jpg"> </li>-->
                                <!--<li><img src="../images/zhiye_ie/p12.jpg"> </li>-->
                                <!--<li><img src="../images/zhiye_ie/p12.jpg"> </li>-->
                                <!--<li><img src="../images/zhiye_ie/p12.jpg"> </li>-->
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="section">
        <div class="pa4">
            <div class="pa4Tab">

                <div class="pa4_left">
                    <div class="logo"><img src="../images/zhiye_ie/p4.png"></div>
                    <div class="kty4"><img src="../images/zhiye_ie/p8.png"></div>
                    <div class="big_img4"><img src="../images/zhiye_ie/last_peo.png"></div>
                    <div class="small_img4"><img src="../images/zhiye_ie/last_peo_small.png"></div>
                    <div class="btnBig4 btnBig" data-name="true"></div>
                </div>
                <div class="pa1_right">
                    <div class="btnIndex"><a href="http://lmzg.8864.com/main/"> <img src="../images/zhiye_ie/p3.png">
                    </a></div>
                    <div class="zhanshi_img01 mofashi_v1"><img src="../images/zhiye_ie/p6.png"></div>
                    <div class="zhanshi_img02"><img src="../images/zhiye_ie/mofashi_tl.png"></div>
                    <div class="zhanshi_img03"><img src="../images/zhiye_ie/mofashi_p.png"></div>
                    <div class="zhanshi_img04"><img src="../images/zhiye_ie/jineng_tl.png"></div>
                    <div class="zhanshi_jineng">
                        <div class="zhanshi_jinengL lieren_jinengL kuilei_jinengL mofashi_jinengL"><img
                                src="../images/zhiye_ie/lbtn.png"></div>
                        <div class="zhanshi_jinengC lieren_jinengC kuilei_jinengC mofashi_jinengC">
                            <div class="MfsinengC_img">
                                <ul class="jnlist clear">
                                    <li>
                                        <div class="showcon first">
                                            <h2>寒冰镜像</h2>
                                            <p>魔导师用寒冰迅速制造一个自己的镜像。该镜像不断向前方发射冰冻弹，一段时间后爆炸。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon">
                                            <h2>冰封领域</h2>
                                            <p>魔导师用全身之力，迅速将身体周围的空气冻结，阻止敌人靠近。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon">
                                            <h2>炎龙弹</h2>
                                            <p>魔导师迅速挥手向前方发射一发火焰弹。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon">
                                            <h2>冰千针</h2>
                                            <p>魔导师将冰魔法灌入地面，在敌人脚下生成一个冰冻陷阱。短时间后区域内生成大量由下而上的冰针。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon last">
                                            <h2>炎龙咆哮</h2>
                                            <p>魔导师向前方连续快速发射三发火焰弹。多次施放此技能后，魔导师改为将向前方发射一发巨型火焰弹</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon first">
                                            <h2>炎龙连弹</h2>
                                            <p>魔导师向前方连续发射三发火焰弹。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon">
                                            <h2>治疗术</h2>
                                            <p>单个友方目标立刻回复一定生命值，并持续治疗一段时间。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon">
                                            <h2>力量祝福</h2>
                                            <p>为单个友方目标增加伤害输出。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon">
                                            <h2>烈焰禁地</h2>
                                            <p>魔导师迅速在身体周围放置若干个烈焰符文，将敌人浮空。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon last">
                                            <h2>治疗链</h2>
                                            <p>为最近的友方目标和自己回复一定生命值，然后转而治疗附近的下一个目标。如果施法者在一支小队中，则治疗链只会治疗其队友。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon first">
                                            <h2>闪电罗网</h2>
                                            <p>魔导师发射多束闪电，将前方一定范围内的敌人聚集到一起。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon">
                                            <h2>雷霆炙烤</h2>
                                            <p>魔导师用闪电，对前方的敌人轮番点击。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon">
                                            <h2>闪现</h2>
                                            <p>向某一方向迅速移动5.5m。过程中处于霸体状态（不会被打硬直），并且不受伤害。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon">
                                            <h2>烈焰曼陀罗</h2>
                                            <p>魔导师将身体周围的烈焰符文引爆，并向四周发射击退敌人。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="showcon last">
                                            <h2>天罚</h2>
                                            <p>魔导师召唤从天而降的雷<br>电，对前方大范围内敌人<br>造成巨大伤害。</p>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                        <div class="zhanshi_jinengR lieren_jinengR kuilei_jinengR mofashi_jinengR"><img
                                src="../images/zhiye_ie/rbtn.png"></div>
                    </div>
                    <div class="zhanshi_img05"><img src="../images/zhiye_ie/wuqi_tl.png"></div>
                    <div class="zhanshi_wuqi">
                        <div class="mofashi_wuqiL"><img src="../images/zhiye_ie/lbtn.png"></div>
                        <div class="mofashi_wuqiR"><img src="../images/zhiye_ie/rbtn.png"></div>
                        <div class="mofashi_wuqiC">
                            <ul class="mf_wqBox">
                                <!--<li><img src="../images/zhiye_ie/p11_mf.png"></li>-->
                                <!--<li><img src="../images/zhiye_ie/p11_mf.png"></li>-->
                                <!--<li><img src="../images/zhiye_ie/p11_mf.png"></li>-->
                                <!--<li><img src="../images/zhiye_ie/p11_mf.png"></li>-->
                            </ul>
                        </div>
                    </div>
                    <div class="zhanshi_06"><img src="../images/zhiye_ie/yuanhua_tl.png"></div>
                    <div class="zhanshi_yuanhua">
                        <div class="mofashi_yuanhuaL"><img src="../images/zhiye_ie/lbtn.png"></div>
                        <div class="mofashi_yuanhuaR"><img src="../images/zhiye_ie/rbtn.png"></div>
                        <div class="mofashi_yuanhuaC">
                            <ul class="mf_yuanhua">
                                <!--<li><img src="../images/zhiye_ie/p12.jpg"> </li>-->
                                <!--<li><img src="../images/zhiye_ie/p12.jpg"> </li>-->
                                <!--<li><img src="../images/zhiye_ie/p12.jpg"> </li>-->
                                <!--<li><img src="../images/zhiye_ie/p12.jpg"> </li>-->
                                <!--<li><img src="../images/zhiye_ie/p12.jpg"> </li>-->
                                <!--<li><img src="../images/zhiye_ie/p12.jpg"> </li>-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script src="../js/zhiye/jquery.fullPage.min.js"></script>
<script src="../js/zhiye/app.js"></script>
</html>
