.all_header {
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 70
}

.pageRight {
    width: 1440px;
    height: 100%;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    margin-left: -720px;
}

.rightBg {
    position: absolute;
    right: 50px;
    z-index: 50;
}

#menu {
    margin: 0;
    padding: 0;
    top: 160px;
    list-style-type: none;
    z-index: 70;
    width: 157px;
    position: absolute;
    left: 1320px;
    height: 497px;
}

#menu li {
    font-size: 14px;
    width: 157px;
    height: 100px;
}

#menu .list0 {
    width: 157px;
    height: 100px;
    background: url(../../images/zhiye_ie/right_2.png) no-repeat 0 0;
}

#menu .list1 {
    width: 157px;
    height: 100px;
    background: url(../../images/zhiye_ie/right_2.png) no-repeat 0 -100px;
}

#menu .list2 {
    width: 157px;
    heig: 100px;
    background: url(../../images/zhiye_ie/right_2.png) no-repeat 0 -200px;
}

#menu .list3 {
    width: 157px;
    height: 100px;
    background: url(../../images/zhiye_ie/right_2.png) no-repeat 0 -300px;
}

#menu .list4 {
    width: 157px;
    height: 100px;
    background: url(../../images/zhiye_ie/right_2.png) no-repeat 0 -400px;
}

#menu .list0.active a {
    width: 157px;
    height: 100px;
    background: url(../../images/zhiye_ie/right.png) no-repeat 0 1px;
}

#menu .list1.active a {
    width: 157px;
    height: 100px;
    background: url(../../images/zhiye_ie/right.png) no-repeat 0 -100px;
}

#menu .list2.active a {
    width: 157px;
    height: 100px;
    background: url(../../images/zhiye_ie/right.png) no-repeat 0 -200px;
}

#menu .list3.active a {
    width: 157px;
    height: 100px;
    background: url(../../images/zhiye_ie/right.png) no-repeat 0 -300px;
}

#menu .list4.active a {
    width: 157px;
    height: 100px;
    background: url(../../images/zhiye_ie/right.png) no-repeat 0 -400px;
}

#menu a {
    float: left;
    width: 157px;
    height: 100px;
    color: #333;
    text-decoration: none;
}

#menu {
    color: #fff;
}

.section {
    text-align: center;
    font: 50px "Microsoft Yahei";
    color: #fff;
}

/*page1*/
.pa0 {
    width: 100%;
    height: 100%;
    background: url(../../images/zhiye_ie/sword-bg.jpg) no-repeat center;
}

.pa1 {
    width: 100%;
    height: 100%;
    background: url(../../images/zhiye_ie/zhanshibk.jpg) no-repeat center;
}

.pa2 {
    width: 100%;
    height: 100%;
    background: url(../../images/zhiye_ie/shangjinlierenbk.jpg) no-repeat center;
}

.pa3 {
    width: 100%;
    height: 100%;
    background: url(../../images/zhiye_ie/kuileishibk.jpg) no-repeat center;
}

.pa4 {
    width: 100%;
    height: 100%;
    background: url(../../images/zhiye_ie/mofashibk.jpg) no-repeat center;
}

.pa1_left {
    width: 1256px;
    position: absolute;
    top: 60px;
    left: 0px;
}

.logo {
    width: 193px;
    height: 71px;
    position: absolute;
    left: 0px;
    top: 20px;
    z-index: 10
}

.pa0Tab, .pa1Tab, .pa2Tab, .pa3Tab, .pa4Tab {
    width: 1440px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

.big_img1 {
    position: absolute;
    left: -240px;
    top: 40px;
}

.small_img1 {
    position: absolute;
    left: -80px;
    top: 20px;
    display: none;
}

.btnBig0, .btnBig1, .btnBig2, .btnBig3, .btnBig4 {
    width: 73px;
    height: 83px;
    position: absolute;
    top: 555px;
    left: 680px;
    cursor: pointer;
    background: url(../../images/zhiye_ie/p1.png) no-repeat;
    z-index: 600
}

.btnBig0.on, .btnBig1.on, .btnBig2.on, .btnBig3.on, .btnBig4.on {
    width: 73px;
    height: 83px;
    position: absolute;
    top: 555px;
    left: 680px;
    cursor: pointer;
    background: url(../../images/zhiye_ie/p2.png) no-repeat;
}

.btnSmall {
    width: 73px;
    height: 83px;
    position: absolute;
    top: 585px;
    left: 645px;
    cursor: pointer
}

.kty0, .kty1, .kty2, .kty3, .kty4 {
    width: 340px;
    height: 135px;
    position: absolute;
    left: -80px;
    top: 130px;
    z-index: 10
}

.pa0_right {
    width: 460px;
    height: 100%;
    position: absolute;
    right: 180px;
    top: 60px;
}

.pa1_right {
    width: 460px;
    height: 100%;
    position: absolute;
    right: 180px;
    top: 60px;
}

.btnIndex {
    width: 98px;
    height: 36px;
    position: absolute;
    top: 15px;
    right: 30px;
    z-index: 100
}

.zhanshi_img01 {
    position: absolute;
    width: 132px;
    height: 135px;
    top: 35px;
    left: 30px;
    cursor: pointer;
}

.zhanshi_img02 {
    position: absolute;
    width: 260px;
    height: 118px;
    top: 32px;
    right: 30px;
}

.zhanshi_img03 {
    position: absolute;
    width: 406px;
    height: 139px;
    top: 185px;
    right: 30px;
}

.zhanshi_img04 {
    position: absolute;
    width: 195px;
    height: 30px;
    top: 310px;
    right: 30px;
}

.zhanshi_jineng {
    width: 460px;
    height: 275px;
    position: absolute;
    top: 150px;
}

.zhanshi_jinengL {
    width: 16px;
    height: 28px;
    position: absolute;
    left: 0;
    bottom: 20px;
    cursor: pointer
}

.zhanshi_jinengR {
    width: 16px;
    height: 28px;
    position: absolute;
    right: 0;
    bottom: 20px;
    cursor: pointer
}

.zhanshi_jinengC {
    width: 400px;
    height: 275px;
    position: absolute;
    bottom: 0px;
    left: 30px;
    overflow: hidden;
}



.sword_jineng {
    width: 460px;
    height: 275px;
    position: absolute;
    top: 150px;
}
.sword_jinengL {
    width: 16px;
    height: 28px;
    position: absolute;
    left: 0;
    bottom: 20px;
    cursor: pointer
}

.sword_jinengR {
    width: 16px;
    height: 28px;
    position: absolute;
    right: 0;
    bottom: 20px;
    cursor: pointer
}

.sword_jinengC {
    width: 400px;
    height: 275px;
    position: absolute;
    bottom: 0px;
    left: 30px;
    overflow: hidden;
}




.swordC_img, .inengC_img, .LrinengC_img, .KlinengC_img, .MfsinengC_img {
    width: 1149px;
    height: 76px;
    background: url(../../images/zhiye_ie/zs.png) no-repeat;
    position: absolute;
    bottom: 0;
    left: 0px;
}

.swordC_img {
    width: 1385px;
    height: 80px;
    background: url(../../images/zhiye_ie/sword-skill.png) no-repeat;
}

.LrinengC_img {
    width: 1149px;
    height: 80px;
    background: url(../../images/zhiye_ie/lr.png) no-repeat;
}

.KlinengC_img {
    width: 1149px;
    height: 80px;
    background: url(../../images/zhiye_ie/wwa.png) no-repeat;
}

.MfsinengC_img {
    width: 1230px;
    height: 80px;
    background: url(../../images/zhiye_ie/mofa_d.png) no-repeat;
}

.swordC_img ul li, .inengC_img ul li, .LrinengC_img ul li, .KlinengC_img ul li, .MfsinengC_img ul li {
    width: 75px;
    height: 88px;
    float: left;
    margin-right: 6px;
    position: relative;
    cursor: pointer;
}

.showcon {
    width: 180px;
    height: 135px;
    background: url(../../images/zhiye_ie/xs.png) no-repeat;
    position: absolute;
    top: -120px;
    left: -55px;
    z-index: 1000;
    display: none
}

.showcon.first {
    width: 180px;
    height: 135px;
    background: url(../../images/zhiye_ie/xs1.png) no-repeat;
    position: absolute;
    top: -120px;
    left: 10px;
    z-index: 1000;
    display: none
}

.showcon.last {
    width: 180px;
    height: 135px;
    background: url(../../images/zhiye_ie/xs2.png) no-repeat;
    position: absolute;
    top: -120px;
    left: -100px;
    z-index: 1000;
    display: none
}

.showcon h2 {
    width: 170px;
    margin: auto;
    font-size: 14px;
    color: #262626;
    line-height: 22px;
    padding-top: 4px;
}

.showcon p {
    width: 170px;
    margin: auto;
    font-size: 12px;
    color: #262626;
    line-height: 20px;
}

.zhanshi_img05 {
    width: 195px;
    height: 30px;
    position: absolute;
    right: 30px;
    top: 430px;
}

.zhanshi_wuqi {
    width: 460px;
    height: 176px;
    position: absolute;
    top: 470px;
}

.sword_wuqiL, .zhanshi_wuqiL, .lieren_wuqiL, .kuilei_wuqiL, .mofashi_wuqiL {
    width: 16px;
    height: 28px;
    position: absolute;
    left: 0;
    bottom: 70px;
    cursor: pointer
}

.sword_wuqiR, .zhanshi_wuqiR, .lieren_wuqiR, .kuilei_wuqiR, .mofashi_wuqiR {
    width: 16px;
    height: 28px;
    position: absolute;
    right: 0;
    bottom: 70px;
    cursor: pointer
}

.sword_wuqiC, .zhanshi_wuqiC, .lieren_wuqiC, .kuilei_wuqiC, .mofashi_wuqiC {
    width: 399px;
    height: 176px;
    position: absolute;
    bottom: 0px;
    left: 30px;
    border: 1px #000000 solid;
    background: url(../../images/zhiye_ie/p13.png) no-repeat;
    overflow: hidden
}

.sword_wqBox, .zs_wqBox, .lr_wqBox, .kl_wqBox, .mf_wqBox {
    height: 176px;
    position: absolute;
    left: 0px;
    top: 0;
}

.sword_wqBox li, .zs_wqBox li, .lr_wqBox li, .kl_wqBox li, .mf_wqBox li, .zs_wqBox li img, .lr_wqBox li img, .kl_wqBox li img, .mf_wqBox li img {
    width: 399px;
    height: 176px;
    float: left;
    cursor: pointer;
}

.zhanshi_06 {
    width: 195px;
    height: 30px;
    position: absolute;
    right: 30px;
    top: 655px;
}

.zhanshi_yuanhua {
    width: 460px;
    height: 130px;
    position: absolute;
    top: 694px;
}

.sword_yuanhuaL, .zhanshi_yuanhuaL, .lieren_yuanhuaL, .kuilei_yuanhuaL, .mofashi_yuanhuaL {
    width: 16px;
    height: 28px;
    position: absolute;
    left: 0;
    bottom: 50px;
    cursor: pointer
}

.sword_yuanhuaR, .zhanshi_yuanhuaR, .lieren_yuanhuaR, .kuilei_yuanhuaR, .mofashi_yuanhuaR {
    width: 16px;
    height: 28px;
    position: absolute;
    right: 0;
    bottom: 50px;
    cursor: pointer
}

.sword_yuanhuaC, .zhanshi_yuanhuaC, .lieren_yuanhuaC, .kuilei_yuanhuaC, .mofashi_yuanhuaC {
    width: 405px;
    height: 130px;
    position: absolute;
    bottom: 0px;
    left: 30px;
    overflow: hidden
}

.sword_yuanhua, .zs_yuanhua, .lr_yuanhua, .kl_yuanhua, .mf_yuanhua {
    height: 130px;
    position: absolute;
    left: 0;
    top: 0;
}

.sword_yuanhua li, .zs_yuanhua li, .lr_yuanhua li, .kl_yuanhua li, .mf_yuanhua li, .zs_yuanhua li img, .lr_yuanhua li img, .kl_yuanhua li img, .mf_yuanhua li img {
    float: left;
    width: 200px;
    height: 130px;
    margin-right: 3px;
    cursor: pointer
}

.zhanshi_yuanhua li img{
    height: 100%;
    width: 100%;
}

.pageImgBox {
    width: 1000px;
    height: 600px;
    position: fixed;
    z-index: 1000;
    display: none;
}

.pageImgBox_img img {
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
}

.close {
    width: 40px;
    height: 40px;
    position: absolute;
    right: -40px;
    top: 0;
    cursor: pointer;
}

.shade {
    background: rgba(0, 0, 0, 0.85);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: none;
}

.videoBox0, .videoBox1, .videoBox2, .videoBox3, .videoBox4 {
    width: 800px;
    height: 450px;
    background: #fff;
    position: absolute;
    left: 50%;
    margin-left: -400px;
    top: 20%;
    z-index: 9999999;
    display: none;
}

.Vclose {
    position: absolute;
    right: -50px;
    top: 0;
    cursor: pointer;
}

/*page0*/

.pa0_left {
    width: 936px;
    position: absolute;
    top: 60px;
    left: 0;
}

.big_img0 {
    position: absolute;
    left: -150px;
    display: block
}

.small_img0 {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

/*page2*/

.pa2_left {
    width: 936px;
    position: absolute;
    top: 60px;
    left: 0;
}

.big_img2 {
    position: absolute;
    left: -150px;
    display: block
}

.small_img2 {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

/*page3*/
.pa3_left {
    width: 1106px;
    position: absolute;
    top: 60px;
    left: 0;
}

.big_img3 {
    position: absolute;
    left: -250px;
    display: block;
}

.small_img3 {
    position: absolute;
    display: none;
    left: -150px;
}

/*page4*/
.pa4_left {
    width: 1013px;
    position: absolute;
    top: 60px;
    left: 0;
}

.big_img4 {
    position: absolute;
    left: -200px;
    display: block;
    top: 50px;
}

.small_img4 {
    position: absolute;
    display: none;
    left: -10px;
    top: 50px;
}



