/**
 * Author: liushaozong
 * Date: 2017/6/23
 * Time: 18:06
 * Description:Description
 */
@import "../../../../_sass/bourbon/bourbon";
@import "../../../../_sass/normalize/normalize";
@import "../../../../_sass/public/public";
@import "../../../../_sass/rem";

body {
    background: #fff;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    img {
        width: 100%;
    }
}

.main {
    padding-top: rem(720);
    background: url("../img/bg.jpg") no-repeat center top;
    background-size: 100% auto;
    min-height: (1000-720)+px;
    .download {
        margin: 0 auto;
        height: rem(80);
        width: rem(480);
        a {
            float: left;
            display: block;
            height: 100%;
            width: rem(240);
        }
    }
}

/*---------------------------------------pulic---------------------------------------*/
/*undown-bg*/
.undown-bg {
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.85);
    display: none;
    height: 100%;
    width: 100%;
    z-index: 9999;
}

.undown-text {
    position: absolute;
    right: 0;
    top: 0;
    background: url("../img/msg_weixin.png") no-repeat;
    background-size: 100% auto;
    height: 100%;
    width: 100%;
}